
* {
    box-sizing: content-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100;
}


div.fact-sheet {
    display: block;
    
    padding-top: 25%;
    padding-bottom: 5%;
    width: 100%;
    background-color: #f1faee;
}


div.fact-sheet > img {
    width: 30%;
    margin-left: 35%;
    border-radius: 360px;
    border: 3px solid #cfdbcb;
    -webkit-box-shadow: 0px 0px 43px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 43px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 43px -15px rgba(0,0,0,0.75);
}


h1#fact-sheet-id {
    width: 15%;
    text-align: right;
    font-weight: bold;
    float: left;
    font-size: 5.5vw;
    font-family: 'Open Sans Condensed', sans-serif;
}


h1#fact-sheet-id-1 {
    width: 15%;
    text-align: right;
    margin-bottom: 0;
    font-weight: bold;
    float: left;
    font-size: 5.5vw;
    font-family: 'Open Sans Condensed', sans-serif;
}


h1#fact-sheet-id-2 {
    float: left;
    width: 80%;
    margin-bottom: 0;
    font-weight: 300;
    margin-left: 2%;
    font-size: 5.5vw;
    font-family: 'Open Sans Condensed', sans-serif;
}


h1#time-elapsed {
    float: left;
    width: 80%;
    font-weight: 300;
    margin-left: 2%;
    font-size: 5.5vw;
    font-family: 'Open Sans Condensed', sans-serif;
}




/************************** fieldset *******************/


form {
    display: block;
    width: 95%;
    bottom: 0;
    padding: 0;
    font-size: 6vw;
    margin: 5% 0 10% 2%;
    font-family: 'Open Sans Condensed', sans-serif;
}

input {
    width: 80%;
    margin: 5% 0 0 2%;
    border: none;
    border-bottom: 2px solid #1D3557;
    font-size: 5vw;
    transition: .4s;
}



input:focus {
    outline: none;
    border-bottom: 1px solid #e63946;
    transform: translateX(10px);
    font-size: 5vw;
}

form > p {
    margin: 2% 0 2% 2%;
}

#domain, #level {
            width: 25%;
            margin: 0 0 0 2%;
        }

label {
    width: 85%;
    display: inline-block;
}