body {
    margin: 0;
}




header {
    background-color: rgb(231, 231, 231);
    margin: 0;
    position: fixed;
    -webkit-box-shadow: -1px 3px 12px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: -1px 3px 12px 2px rgba(0,0,0,0.54);
    box-shadow: -1px 3px 12px 2px rgba(0,0,0,0.54);

}




header > img {
    width: 25%;
    margin-left: 37.5%;
}